.search-hotkey.search-hotkey--macos {
    @apply hidden;
}

.macos .search-hotkey.search-hotkey--macos {
    @apply block;
}

.macos .search-hotkey.search-hotkey--generic {
    @apply hidden;
}

.search-form__search-results {
    @apply hidden;
}

.search-form:focus-within .search-form__search-results {
    @apply flex;
}
